#titleLabel {
    -fx-font-size: 20px;
    -fx-padding: 10px;
}

.borderPane {
    -fx-background-color: LightSteelBlue;
}

.leftPane {
    -fx-background-color: LightSteelBlue;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.rightPane {
    -fx-background-color: LightSteelBlue;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.messageTextArea {
    -fx-background-color: LightGray;
}

.view {
    -fx-background-color: LightSteelBlue;
}

.notOk {
    -fx-border-color: red;
}