.root{
	-fx-background-color: #6d6b7c;
}
.leftPane {
	-fx-background-color: #6d6b7c;
	-fx-padding: 10px;
	-fx-spacing: 10px;
}
.rightPane {
	-fx-background-color: #6d6b7c;
	-fx-padding: 10px;
	-fx-spacing: 10px;
}
.newTaskLabel {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20px;
    	-fx-padding: 10px;
}
.tippLabel {
	-fx-text-fill: #ffffff;
	-fx-padding: 10px;
}
.titleLabel {
	-fx-text-fill: #ffffff;
}
.categoryLabel {
	-fx-text-fill: #ffffff;
}
.dueDateLabel {
	-fx-text-fill: #ffffff;
}
.messageLabel {
	-fx-text-fill: #ffffff;
}
.tagsLabel {
	-fx-text-fill: #ffffff;
}
.messageTextArea {
    	-fx-background-color: LightGray;
}
.view {
	-fx-background-color: #6d6b7c;
}
.notOk {
    	-fx-border-color: red;
    	-fx-border-width: 3px;
}
