.mainBarView {
 	-fx-background-color: LightSteelBlue;
	-fx-padding: 15px;
}
.lupe {
 	-fx-background-color: LightSteelBlue;
	-fx-spacing: 10px;
}
.searchField{
	-fx-spacing: 10px;
}
.createToDo{
	-fx-spacing: 100px;
}
.tableView {
 	-fx-background-color: LightSteelBlue;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}
.tableColumn {
	-fx-border-style: solid;
	-fx-border-radius: 3px;
	
}
.checkBox {
    	-fx-background-color: LightSteelBlue;
	-fx-border: 2px;
	-fx-border-radius: 5px;
}
.task {
    	-fx-background-color: LightSteelBlue;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}
.dueDate {
    	-fx-background-color: LightSteelBlue;
	-fx-border: 2px;
	-fx-border-radius: 5px;
}
.important {
    	-fx-background-color: LightSteelBlue;
	-fx-border: 2px;
	-fx-border-radius: 5px;
	
}
.garbage {
 	-fx-background-color: LightSteelBlue;
	-fx-border: 2px;
	-fx-border-radius: 5px;
}
.scrollPane {
 	-fx-background-color: LightSteelBlue;
}
.header{
 	-fx-background-color: LightSteelBlue;
}

