.view {
    	-fx-background-color: #ffffff;
}
.vBox {    
    	-fx-background-color: #101b53;
}
.splitPane {
	-fx-background-color: #ffffff;
}
.borderPane{
    	-fx-background-color: #ffffff;
}
.openFocusTimer {
    	-fx-background-color: #101b53;
    	-fx-text-fill: #ffffff;
}
.openFocusTimer:hover {
    	-fx-background-color: #1ec4dc;
}
.howTo {
    	-fx-background-color: #101b53;
    	-fx-text-fill: #ffffff;
}
.howTo:hover {
    	-fx-background-color: #1ec4dc;
}