.view {
    -fx-background-color: LightSteelBlue;
}
.listView .list-cell:even {
    -fx-background-color: LightSteelBlue;
}
.listView .list-cell: odd {
    -fx-background-color: LightSteelBlue;
}
.vBox {
    -fx-background-color: LightSteelBlue;
}
.borderPane{
    -fx-background-color: LightSteelBlue;
}
.splitPane{
    -fx-background-color: LightSteelBlue;
}
.bc{
    -fx-background-color: LightSteelBlue;
}
.borderPaneUpdate {
    -fx-background-color: LightSteelBlue;
}